@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body, a{
	font-family: 'Open Sans', sans-serif;
	color: #777a89;
	font-size: 90%;
}
a{
	color: #ed5b43;
	text-decoration: none;
	font-weight: 600;
}
a, button{
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
header {
	background: rgb(235,235,242);
	background: linear-gradient(48deg, rgba(235,235,242,1) 0%, rgba(244,244,249,1) 100%);
	color: #fff;
	padding: 2rem;
	color:#23213f;
	overflow: hidden;
	box-shadow: inset 0 0 30px #ddd;
}
.bottom-header{
	margin: 0px 0px;
	display: flex;
}
.contenedor{
	max-width: 960px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contenedor-wide{
	max-width:1120px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
p{
	line-height: 1.5em;
	color: #777a89;
}
h1{
	font-size: 5em;
	width: 360px;
	line-height: 1em;
	font-weight: 800;
}
h1 span{
	color:#ed5b43 ;
}
h2{
	color: #23213f;
	text-transform: uppercase;
	font-size: 3.2em;
	font-weight: 800;
	margin-bottom: 40px;
	line-height: 0.8em;
}
h2:after{
	content:"";
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: #ed5b43;
	border-radius: 50%;
	margin-left: 10px;
	margin-bottom: -1px;
}
h3{
	font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
    padding: 10px 0px;
    border-bottom: 2px solid;
    letter-spacing: 5px;
}
button{
	background-color: #ed5b43;
	color: #fff;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 20px;
	margin-left: 50px;
	border:0px;
	cursor: pointer;
}
.logo {
	width: 20%;
	margin-right: auto;
	height: auto;
	margin-bottom: -9px;
}
.logo img{
	height: 45px;
	width: auto;
	margin: 0px;
	padding: 0px;
}
.logo img.icon{
	display: none;
}

nav {
    height: 49px;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: center;
	height: 49px;
}

nav li {
	margin: 0 1rem;
}

nav a {
	position: relative;
	color: #23213f;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75em;
    margin-right: 20px;
	transition: all 0.2s;
	border-bottom: 1px solid #ed5b43;
	border-bottom-width: 0px;
	padding-bottom: 5px;
}


nav a.activo{
	color: #ed5b43;
	border-bottom: 3px solid #ed5b43;
	
}
nav a:hover{
	color: #ed5b43;
	border-bottom-width: 3px;
	text-decoration: none;
}

.curriculum a{
	background-color: #ed5b43;
	padding: 8px 24px;
	color: #fff;
	border-radius: 24px;
	overflow: hidden;
}

.curriculum a{
	overflow: hidden;
	position: relative
}
.curriculum a span{
	z-index: 1;
	position: relative;
}
.curriculum a::after{
	content: "";
	position: absolute;
	border-radius: 24px;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 100%;
	background-color: #23213f;
	z-index: 0;
	transition: all 0.15s ease-in;
}
.curriculum a:hover::after{
	width: 100%;
}

.intro {
	text-align: left;
	text-transform: uppercase;
	margin-top: 101px;
}

/* ------------ ilustracion ---------------- */

.ilustracion img{
	height: 460px;
	right: -100px;
}

.circulos{
	position: absolute;
	top: 0px;
	z-index: 1;
}
.celular{
	position: absolute;
	top:-50px;
	z-index: 2;
}
.elementos{
	position: absolute;
	top: -80px;
	z-index: 3;
	right: -80px !important;
}
.resplandor{
	position: absolute;
	top: 0px;
	z-index: 4;
}

.ilustracion {
	width: 450px;
	position: relative;
	height: 338px;
}

.presentacion {
	padding: 8rem 2rem;
}

.foto {
	width: 30%;
}

.foto img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

.perfil {
	margin: 0 2%;
	flex:1
}
.foto img{
	width: 150px;
	height: 150px;
	background-color: #777a89;
	border-radius: 50%;
	display: block;
	overflow: hidden;
	margin-right: 40px;
}

.portafolio {
	padding: 2rem;
}

.trabajos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2rem;
}

.trabajos img {
	max-width: 100%;
	height: auto;
	cursor: pointer;
}

.presentacion{
	opacity: 0;
	transform: translateY(100px);
  	transition: all 1s ease-in-out;
}

/* ----- portafolio ------- */

.portafolio{
	opacity: 0;
	transform: translateY(100px);
  	transition: all 1s ease-in-out;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
	grid-gap: 1rem;
	width: 100%;
	margin-bottom: 100px;
  }
  
  .gallery-item {
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	transition: all 0.2s ease-in;
  }

  .gallery-item:hover{
  }
  .gallery-item:hover img{
	transform: scale(1.1,1.1);
	opacity: 0.6;
  }
  .gallery-item .gallery-img{
	overflow: hidden;
	height: 300px;
	width: 300px;
	margin: auto;
  }
  
  .gallery-item img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	transition: all 0.3s ease-out;
  }
  .gallery-item .border{
	border: 1px solid #ddd;
  }
  .gallery-item .gallery-description{
	text-align: left;
  }

  .gallery-item img.horizontal{
	height: 100%;
	width: auto;
  }
  
  .modal {
	display: flex;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
  	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
  }
  .modal.show {
	opacity: 1;
	pointer-events: auto;
  }
  
  .modal-content {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
  }
  
  .close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
  }

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
 
/* Estilos para animaciones de fade-in y fade-out */
.fade-in {
	animation-name: fade-in;
	animation-duration: 0.5s;
}

.fade-out {
	animation-name: fade-out;
	animation-duration: 0.5s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.contacto {
	padding: 2rem;
}

.contacto h2 {
	margin-bottom: 2rem;
}
.contacto p{
	font-size: 1em;
	color: #555;
}
.contacto p span{
	color: #ed5b43;
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

label {
	margin-top: 1rem;
}

input,
textarea {
	padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  }
  
  input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  }
  
  input[type="submit"]:hover {
  background-color: #555;
  }
  
  footer {
  background-color: #ed5b43;
  color: #fff;
  padding: 2rem;
  text-align: center;
  }
  
  footer nav ul {
	display: flex;
	justify-content: center;
  }
  
  footer li {
  margin: 0 1rem;
  }
  
  footer a {
  color: #fff;
  text-decoration: none;
  }
  footer a:hover{
	color: #fff;
	text-decoration: underline;
  }

  @media (max-width: 750px) {
	.contenedor{
		display: block;
	}
	nav ul{
		justify-content: center;
	}
	nav a {
		margin: 0px;
	}
	.curriculum{
		display: none;
	}
	.ilustracion{
		width: 100%;
		text-align: center;
	}
	.ilustracion img{
		width: 300px;
		float: none;
		margin: auto;
	}
	h1{
		font-size: 2.5em;
	}
	.gallery{
		display: block;
	}
	.gallery-item{
		margin: 50px 0px;
	}
	.gallery-item .gallery-img{
		width: 300px;
	}
	.gallery-item .gallery-description{
		text-align: center;
	}
	.logo .icon{
		display: block !important;
	}
	.logo .nombre{
		display: none;
	}
  }
